@charset "utf-8";




html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
    


body, html, container {
    margin: 0px;
    padding: 0px;
    cursor: default; !important
}


/*  Grid breakpoints
    2: 645-884
    3: 885-1124
    4: 1125-1364
    5: 1365-1604
*/










@media (min-width: 645px) {
    
    
    
/* ---------TEST POPUP--------- */
    
    
    .wrapper {
        display: none;
        height: 100%;
        width: 100%;
        
    }
    
    .popup-test {
        width: 100%;
        height: 100%;
        background-color: rgba(100, 100, 100, 0.6);
        z-index: 10;
        position: fixed;
        margin: 0;
        
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .popup-test-container {
        
        position: relative;
    overflow: auto;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 15px;
    -webkit-box-shadow:0 0 10px #333; 
    -moz-box-shadow: 0 0 10px #333; 
    box-shadow:0 0 10px #333;
    }
    
    .popup-test-text {
        font-family: 'open sans';
    width: 100%;
    color: #333;
    }
    
    .popup-test-image-container {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .popup-test-text-title {
        margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 1px;
    font-weight: 700;
    border-bottom: 1px solid #333;
    }
    
    .popup-test-text-subtitle {
        font-weight: 100;
    margin-bottom: 10px;
    }
    
    .popup-test-button-text {
        width: 50px;
        height: 50px;
        display: flex;
        font-weight: 100;
        line-height: 0;
        color: #333;
        font-size: 2em;
        background-color: rgba(255,255,255, 0.5);
        position: absolute;
        right: 0;
        margin-top: 10px;
        margin-right: 27px;
        padding-top: 21px;
        padding-left: 2;
        font-family: 'open sans';
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 50px;
    
    }
    
    
    .popup-test-button-text:hover {
        background-color: rgba(123, 165, 865, 0.5);
        color: #fff;
        
    }
    
    .popup-test-text-fine {
        font-size: .6em;
    }
    
    #image-2-1 {
        width: 80%;
    }
    
    #image-2-2 {
        width: 100%;
    }
    
    #image-2-3 {
        width: 80%;
    }
    
    #image-2-4 {
        width: 100%;
    }
    
    #image-2-5 {
        width: 100%;
    }

/* -------HEADER-------- */

    
/* float dictates js action */
    
    .jsswitch {
        float: none;
        /* float none=js off, float left=js on */
    }
    
.header {
    
    /* box sizing */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    
    /* positioning */
    position: fixed;
    top: 0px;
    z-index: 2;
    
    /* background */
    background-color: #333;
    
    /* content */
    text-align: left;
    
    /* font */
    font-family: 'open sans';
    color: #fff;

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}


.header-logo {
    
    /* box sizing */
    height: 50%;
    margin-left: 10px;
    padding-right: 5px;
    
    /* border */
    
    /* positioning */
    display: block;
    
    /* background */
    
    /* content */
    
    /* font */

    /* Centering */
    
}


.header-title {
    
    /* box sizing */
    margin-left: 5px;
    padding-right: 10px;
    
    /* border */
    border-right: 1px solid #fff;
    
    /* positioning */
    display: block;
    
    /* background */
    
    /* content */
    
    /* font */
    font-size: 1em;
    text-decoration: none;
    color: #fff;

    /* Centering */
    
}


.header-subtitle {
    
    /* box sizing */
    margin-left: 10px;
    margin-right: 10px;
    
    /* positioning */
    
    /* background */
    
    /* content */
    
    /* font */
    font-size: 1em;
    font-weight: 100;

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}


    .header-menu {
        font-size: 1em;
        color: #fff;
        text-decoration:none;
        position: absolute;
        z-index: 5;
        right: 8px;
        top: 8px;
        padding: 0;
        margin: 0;
        display: none;
    }
    
    .menu-link {
        text-decoration: none;
    }





/* -------MAIN-------- */

.main {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    
}




/* -------NAVIGATION-------- */
    
    
    
    
.nav {
    
    /* box sizing */
    width: 130px;
    height: 100%;
    padding: 10px;
    padding-top: 0;
    margin: 0;

    /* border */ 
    border-right: 1px solid #ccc;
    
    /* positioning */
    z-index: 1;
    position: fixed;
    
    /* background */
    
    /* content */
    
    /* font */
    font-family: 'open sans';

    /* Centering */ 
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; !important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}


.nav-list {
    
    /* box sizing */
    padding-left: 0px;
    padding-top: 0;
    margin: 0;

    /* border */ 
    
    /* positioning */
    
    /* background */
    
    /* content */
    
    /* font */
    list-style: none;
    color: #fff;
    text-decoration: none;

    /* Centering */
    
}


.nav-list-item {
    
    /* box sizing */
    padding-bottom: 5px;
    padding-top: 5px;

    /* border */
    border-bottom: 1px solid #ccc;
    
    /* positioning */
    
    /* background */
    
    /* content */
    
    /* font */
    list-style: none;
    color: #333;
    text-decoration: none;

    /* Centering */
    
}


.nav-list-item:last-child {
    border: 0;
}
    
.nav-list-item:hover {
    font-size:  
}


.nav-list-item-link {
    
    /* box sizing */
    padding: inherit;

    /* border */ 
    
    /* positioning */
    
    /* background */
    
    /* content */
    display: block;
    
    /* font */
    list-style: none;
    color: #333;
    text-decoration: none;

    /* Centering */
    
}







/* -------RIGHT-------- */


.right {
    
    /* box sizing */
    width: calc(100% - 130px);
        /* Firefox */
        height: -moz-calc(100% - 18px);
        /* WebKit */
        height: -webkit-calc(100% - 18px);
        /* Opera */
        height: -o-calc(100% - 18px);
        /* Standard */
        height: calc(100% - 18px);
    margin: 0;
    padding-left: 20px;
    padding-top: 0;

    /* border */ 
    
    /* positioning */
    position: relative;
    float: right;
    
    /* background */
    
    /* content */
    
    /* font */

    /* Centering */
    
    
}




/* -------GRID-------- */


.title {
    font-family: 'open sans';
    font-size: 3em;
    font-weight: 100;
    color: #333;
    margin: 20px;
    margin-top: 40px;
    width: 100%;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}


.grid {
    
    /* box sizing */  
    margin: 0;
    padding: 0;

    /* border */ 
    
    /* positioning */
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    /* background */
    
    /* content */
    
    /* font */

    /* Centering */
    
    
}
    
    .grid:after {
  content: "";
  flex: auto;
}


.grid-item {
    
    /* box sizing */  
    width: 200px;
    height: 200px;
    margin: 20px;

    /* border */ 
    
    /* positioning */
    
    /* background */
    background-size: cover;
    
    /* content */
    
    /* font */
    color: rgba(255, 255, 255, 0);
    font-family: 'open sans';
    font-weight: 100;
    text-decoration: none;

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*
    transition:  .5s ease;
    */
    
}

.grid-item:hover {
    
    /* box sizing */  

    /* border */ 
    
    /* positioning */
    
    /* background */
    
    /* content */
    box-shadow: inset 0 0 0 100px rgba(123, 165, 186, 0.6);
    
    
    /* font */
    color: #fff;
    text-decoration: none;

    /* Centering */
    
}
    

.grid-link {
    text-decoration: none;    
    
}
    
    





/* -------CATEGORIES-------- */




/* -------BRANDING-------- */


#logo1 {
    background-image: url(../img/branding/1.gif);
}

#logo2 {
    background-image: url(../img/branding/2.png);
}

#logo3 {
    background-image: url(../img/branding/3.png);
}

#logo4 {
    background-image: url(../img/branding/4.png);
}

#logo5 {
    background-image: url(../img/branding/5.png);
}

#logo6 {
    background-image: url(../img/branding/6.gif);
}

#logo7 {
    background-image: url(../img/branding/8.gif);
}

#logo8 {
    background-image: url(../img/branding/7.gif);
}

#logo9 {
    background-image: url(../img/branding/9.gif);
}



/* -------PRINT DESIGN-------- */

#print1 {
    background-image: url(../img/print/1.png);
    background-position: 0 -25px;
}

#print2 {
    background-image: url(../img/print/2.gif);
    background-position: -95px 0;
}

#print3 {
    background-image: url(../img/print/3.gif);
    background-position: 0px -50px;
}

#print4 {
    background-image: url(../img/print/4.png);
}
  
#print5 {
    background-image: url(../img/print/5.png);
}
  
  
    
img:active { position:fixed; top: 0; left: 0; z-index: 1; height: 100%; width:auto }

}
















/*-----------------------media query divider---------------------*/








/* phone css */

@media (max-width: 644px) and (min-width: 518px) {

/* -------HEADER-------- */
    
    
    /* float dictates js action */
    
    .jsswitch {
        float: left;
        /* float none=js off, float left=js on */
    }
    

.header {
    
    /* box sizing */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    
    /* positioning */
    position: fixed;
    top: 0px;
    z-index: 2;
    
    /* background */
    background-color: #333;
    
    /* content */
    text-align: left;
    
    /* font */
    font-family: 'open sans';
    color: #fff;
    text-decoration: none;
    

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}


.header-logo {
    
    /* box sizing */
    height: 50%;
    margin-left: 10px;
    padding-right: 5px;
    
    /* border */
    
    /* positioning */
    display: block;
    
    /* background */
    
    /* content */
    
    /* font */

    /* Centering */
    
}


.header-title {
    
    /* box sizing */
    margin-left: 5px;
    padding-right: 10px;
    
    /* border */
    border-right: 1px solid #fff;
    
    /* positioning */
    display: block;
    
    /* background */
    
    /* content */
    
    /* font */
    font-size: 1em;
    text-decoration: none;
    color: #fff;

    /* Centering */
    
}
    
    header-title-link {
        text-decoration: none;
    }
    
    a.header-title {
        text-decoration: none;
    }
        



.header-subtitle {
    
    /* box sizing */
    margin-left: 10px;
    margin-right: 10px;
    
    /* positioning */
    
    /* background */
    
    /* content */
    
    /* font */
    font-size: 1em;
    font-weight: 100;

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}
    
    
    
.header-menu {
        position: absolute;
        display: block;
        height: 100%;
        width: 30px;
        top: 0px;
        right: 0px;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .menu-image {
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .header-menu:hover {
       background-color: #bbb;
    }

    
    

/* -------MAIN-------- */

.main {
    margin-top: 40px;
    margin-left: 0;
    padding: 0;
    
}




/* -------NAVIGATION-------- */


.nav {
    
    /* box sizing */
    width: 100%;

    margin: 0;

    /* border */ 
    border-right: 1px solid #ccc;
    
    /* positioning */
    z-index: 1;
    position: fixed;
    
    /* background */
    background-color: #d8d8d8;
    
    /* content */
    
    /* font */
    font-family: 'open sans';

    /* Centering */ 
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}


.nav-list {
    
    /* box sizing */
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
   
    margin: 0;

    /* border */ 
    
    /* positioning */
    display: flex;
    
    /* background */
    
    /* content */
    
    /* font */
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-size: 1em;

    /* Centering */
    justify-content: space-between;
    flex-direction: column;
    
    
}


.nav-list-item {
    
    /* box sizing */
    padding: 5px;

    /* border */
    border-bottom: 1px solid #aaa;
    
    /* positioning */
    display: flex;
    
    /* background */
    
    /* content */
    
    /* font */
    list-style: none;
    color: #333;
    text-decoration: none;

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
    
    .nav-list-item:last-child {border: 0;}


.nav-list-item-link {
    
    /* box sizing */
    padding: inherit;

    /* border */ 
    
    /* positioning */
    
    /* background */
    
    /* content */
    display: inline-block;
    
    /* font */
    list-style: none;
    color: #333;
    text-decoration: none;

    /* Centering */
    
}
    
.nav-list-item:hover {
      background-color: #bbb;  
}







/* -------RIGHT-------- */


.right {
    
    /* box sizing */
    width: 100%;
    margin-top: 10px;
    padding-left: 0px;
    padding-top: 0;

    /* border */ 
    
    /* positioning */
    position: relative;
    
    
    /* background */
    
    /* content */
    
    /* font */

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}




/* -------GRID-------- */


    
    
.title-container {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
    
.title {
    font-family: 'open sans';
    font-size: 2.5em;
    font-weight: 100;
    color: #333;
    margin: 20px;
    margin-top: 40px;
    width: 400px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}


.grid {
    
    /* box sizing */  
    margin: 0;
    padding: 0;

    /* border */ 
    
    /* positioning */
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    /* background */
    
    /* content */
    
    /* font */

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.grid-item {
    
    /* box sizing */  
    width: 200px;
    height: 200px;
    margin: 20px;

    /* border */ 
    
    /* positioning */
    
    /* background */
    background-size: cover;
    
    /* content */
    
    /* font */
    color: rgba(255, 255, 255, 0);
    font-family: 'open sans';
    font-weight: 100;
    text-decoration: none;

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    
}

.grid-item:hover {
    
    /* box sizing */  

    /* border */ 
    
    /* positioning */
    
    /* background */
    
    /* content */
    box-shadow: inset 0 0 0 100px rgba(123, 165, 186, 0.6);
    
    /* font */
    color: #fff;
    text-decoration: none;

    /* Centering */

    
}
    

.grid-link {
    text-decoration: none;    
    
}
    
    #grid-fill {
        display: hidden;
        /* box sizing */  
    width: 200px;
    height: 200px;
    margin: 20px;
    }
    





/* -------CATEGORIES-------- */




/* -------BRANDING-------- */


#logo1 {
    background-image: url(../img/branding/1.gif);
}

#logo2 {
    background-image: url(../img/branding/2.png);
}

#logo3 {
    background-image: url(../img/branding/3.png);
}

#logo4 {
    background-image: url(../img/branding/4.png);
}

#logo5 {
    background-image: url(../img/branding/5.png);
}

#logo6 {
    background-image: url(../img/branding/6.gif);
}

#logo7 {
    background-image: url(../img/branding/8.gif);
}

#logo8 {
    background-image: url(../img/branding/7.gif);
}

#logo9 {
    background-image: url(../img/branding/9.gif);
}



/* -------PRINT DESIGN-------- */

#print1 {
    background-image: url(../img/print/1.png);
    background-position: 0 -25px;
}

#print2 {
    background-image: url(../img/print/2.gif);
    background-position: -95px 0;
}

#print3 {
    background-image: url(../img/print/3.gif);
    background-position: 0px -50px;
}

#print4 {
    background-image: url(../img/print/4.png);
}
  
#print5 {
    background-image: url(../img/print/5.png);
}
  

}












/*-----------------------media query divider---------------------*/








/* phone css (small) */

@media (max-width: 517px) {
    
    
/* float dictates js action */
    
    .jsswitch {
        float: left;
        /* float none=js off, float left=js on */
    }
    

/* -------HEADER-------- */

.header {
    
    /* box sizing */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    
    /* positioning */
    position: fixed;
    top: 0px;
    z-index: 2;
    
    /* background */
    background-color: #333;
    
    /* content */
    text-align: left;
    
    /* font */
    font-family: 'open sans';
    color: #fff;

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}


.header-logo {
    
    /* box sizing */
    height: 50%;
    margin-left: 10px;
    padding-right: 5px;
    
    /* border */
    
    /* positioning */
    display: block;
    
    /* background */
    
    /* content */
    
    /* font */

    /* Centering */
    
}


.header-title {
    
    /* box sizing */
    margin-left: 5px;
    padding-right: 10px;
    
    /* border */
    border-right: 1px solid #fff;
    
    /* positioning */
    display: block;
    
    /* background */
    
    /* content */
    
    /* font */
    font-size: 1em;
    text-decoration: none;
    color: #fff;

    /* Centering */
    
}


.header-subtitle {
    
    /* box sizing */
    margin-left: 10px;
    margin-right: 10px;
    
    /* positioning */
    
    /* background */
    
    /* content */
    
    /* font */
    font-size: 1em;
    font-weight: 100;

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}

  .header-menu {
        position: absolute;
        display: block;
        height: 100%;
        width: 30px;
        top: 0px;
        right: 0px;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .menu-image {
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .header-menu:hover {
       background-color: #bbb;
    }





/* -------MAIN-------- */

.main {
    margin-top: 40px;
    margin-left: 0;
    padding: 0;
    
}




/* -------NAVIGATION-------- */


.nav {
    
    /* box sizing */
    width: 100%;

    margin: 0;

    /* border */ 
    border-right: 1px solid #ccc;
    
    /* positioning */
    z-index: 1;
    position: fixed;
    
    /* background */
    background-color: #d8d8d8;
    
    /* content */
    
    /* font */
    font-family: 'open sans';

    /* Centering */ 
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}


.nav-list {
    
    /* box sizing */
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    
    margin: 0;

    /* border */ 
    
    /* positioning */
    display: flex;
    
    /* background */
    
    /* content */
    
    /* font */
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-size: 1em;

    /* Centering */
    justify-content: space-between;
    flex-direction: column;
    
    
}


.nav-list-item {
    
    /* box sizing */
    padding: 5px;

    /* border */
    border-bottom: 1px solid #aaa;
    
    /* positioning */
    display: flex;
    
    /* background */
    
    /* content */
    
    /* font */
    list-style: none;
    color: #333;
    text-decoration: none;

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

    .nav-list-item:last-child {border: 0;}

.nav-list-item-link {
    
    /* box sizing */
    padding: inherit;

    /* border */ 
    
    /* positioning */
    
    /* background */
    
    /* content */
    display: inline-block;
    
    /* font */
    list-style: none;
    color: #333;
    text-decoration: none;

    /* Centering */
    
}
    
.nav-list-item:hover {
      background-color: #bbb;  
}







/* -------RIGHT-------- */


.right {
    
    /* box sizing */
    width: 100%;
    margin-top: 0px;
    padding-left: 0px;
    padding-top: 0;

    /* border */ 
    
    /* positioning */
    position: relative;
    float: right;
    
    /* background */
    
    /* content */
    
    /* font */

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
}




/* -------GRID-------- */
    
    
    .title-container {
        
    }

.title {
    font-family: 'open sans';
    font-size: 2em;
    font-weight: 100;
    color: #333;
    margin: 20px;
    margin-top: 40px;
    width: 320px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}


.grid {
    
    /* box sizing */  
    margin: 0;
    padding: 0;

    /* border */ 
    
    /* positioning */
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    /* background */
    
    /* content */
    
    /* font */

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

    

.grid-item {
    
    /* box sizing */  
    width: 310px;
    height: 310px;
    margin: 20px;

    /* border */ 
    
    /* positioning */
    
    /* background */
    background-size: cover;
    
    /* content */
    
    /* font */
    color: rgba(255, 255, 255, 0);
    font-family: 'open sans';
    font-weight: 100;
    text-decoration: none;

    /* Centering */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.grid-item:hover {
    
    /* box sizing */  

    /* border */ 
    
    /* positioning */
    
    /* background */
    
    /* content */
    box-shadow: inset 0 0 0 155px rgba(123, 165, 186, 0.6);
    
    /* font */
    color: #fff;
    text-decoration: none;

    /* Centering */
    
}
    

.grid-link {
    text-decoration: none;    
    
}
    
    





/* -------CATEGORIES-------- */




/* -------BRANDING-------- */


#logo1 {
    background-image: url(../img/branding/1.gif);
}

#logo2 {
    background-image: url(../img/branding/2.png);
}

#logo3 {
    background-image: url(../img/branding/3.png);
}

#logo4 {
    background-image: url(../img/branding/4.png);
}

#logo5 {
    background-image: url(../img/branding/5.png);
}

#logo6 {
    background-image: url(../img/branding/6.gif);
}

#logo7 {
    background-image: url(../img/branding/8.gif);
}

#logo8 {
    background-image: url(../img/branding/7.gif);
}

#logo9 {
    background-image: url(../img/branding/9.gif);
}



/* -------PRINT DESIGN-------- */

#print1 {
    background-image: url(../img/print/1.png);
    background-position: 0 -50px;
}

#print2 {
    background-image: url(../img/print/2.gif);
    background-position: -145px 0;
}

#print3 {
    background-image: url(../img/print/3.gif);
    background-position: 0px -80px;
}

#print4 {
    background-image: url(../img/print/4.png);
}
  
#print5 {
    background-image: url(../img/print/5.png);
}
  

}









    /* box sizing */  

    /* border */ 
    
    /* positioning */
    
    /* background */
    
    /* content */
    
    /* font */

    /* Centering */





/* box sizing */  

/* border */ 
    
/* positioning */
    
/* background */
    
/* content */
    
/* font */

/* Centering */


























/*
body {
  font-family: 'Arimo', sans-serif;
}

iframe {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
background: url('/assets/images/polina.jpg') no-repeat;
background-size: cover;
}


.overlay {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: rgba(0,0,0,0.3);
  display: block;
  position: absolute;
  top: 10%;
  left: 30%;
}

.overlay h1 {
  text-align: center;
  padding-top: 100px;
  color: #fff;
  font-family: inherit;
}

.overlay p{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-family: inherit;
  margin-bottom: 20px;
  transform-origin: top 0 left 0;
}

.overlay a {
  color: #fff;
}

@-webkit-keyframes shake {
0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}


.overlay:hover,
.overlay:focus{
    -webkit-animation: shake 0.8s linear infinite;
    animation: shake 0.2s linear infinite;

}
*/